.checkout-card{

display:flex;

gap:30px;

background:white;

padding:20px;

border-radius:15px;

margin:25px 0;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.checkout-card img{

width:150px;

height:150px;

object-fit:contain;

}

.checkout-info{

flex:1;

}

.quantity{

display:flex;

gap:15px;

margin:20px 0;

align-items:center;

}

.quantity button{

width:40px;

height:40px;

border:none;

background:#2563eb;

color:white;

font-size:20px;

border-radius:8px;

cursor:pointer;

}

.remove-btn{

padding:10px 18px;

background:red;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}

.checkout-total{

margin-top:40px;

display:flex;

justify-content:space-between;

align-items:center;

}

.clear-btn{

padding:15px 25px;

background:#111827;

color:white;

border:none;

border-radius:10px;

cursor:pointer;

}